.hello {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://img.freepik.com/premium-vector/line-art-girl-with-ponytail-glasses-woman-silhouette-drawn-one-continuous-line-colors_490843-200.jpg?w=360");
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.question {
  margin-top: 50px;
}
.type {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 700;
  background: var(--primary-background);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.hello h3 {
  font-size: 2.5rem;
  font-weight: bolder;
}
.hello h2 {
  font-size: 2rem;
}
h2 span {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(109, 1, 109);
}
.hello p {
  font-size: 1.5rem;
  font-weight: bold;
}
.scroll {
  background: var(--primary-background);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.cv {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  background: var(--primary-background);
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 3px 10px grey;
  animation-name: pulse;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@media screen and (min-width: 780px) {
  .hello {
    background-image: url("https://img.freepik.com/premium-vector/line-art-girl-with-ponytail-glasses-woman-silhouette-drawn-one-continuous-line-colors_490843-200.jpg?w=360");
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 100px;
  }
}
@media screen and (max-width: 480px) {
  .type {
    font-size: 3rem;
  }
  .hello h3 {
    font-size: 2rem;
    font-weight: bolder;
  }
  .hello h2 {
    font-size: 2rem;
  }
  h2 span {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .hello p {
    font-size: 1.5rem;
  }
  .cv {
    font-size: 18px;
  }
}
