@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;600;700;800&display=swap");
:root {
  --primary-background: linear-gradient(
    to right,
    rgb(109, 1, 109),
    rgb(229, 30, 76),
    orange
  );
}
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
h1 {
  width: fit-content;
  background: var(--primary-background);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 20px;
}
p {
  line-height: 1.5rem;
  text-align: justify;
}
.wrap {
  background-color: rgb(246, 244, 246);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px grey;
}
.contact-wrap {
  margin-bottom: 50px;
  min-height: 80vh;
}
@media screen and (min-width: 780px) {
  p {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
