* {
  margin: 0;
}
.toggle {
  width: 50px;
  height: 30px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 244, 246);
  /* height: 10vh; */
}
.navLinks {
  display: flex;
}
.navLinks a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  /* text-decoration: underline; */
}
.navLinks a:hover {
  font-size: 22px;
}
.logo h1 {
  font-size: 45px;
  margin: 0 0 0 10px;
  background: linear-gradient(
    to right,
    rgb(109, 1, 109),
    rgb(229, 30, 76),
    yellow
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (max-width: 600px) {
  .navLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .navLinks a {
    margin: 0.5rem 0;
  }

  .navLinks.active {
    display: flex;
  }
}
@media screen and (min-width: 600px) {
  .toggle {
    display: none;
  }
}
