.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.projects {
  background-color: rgb(246, 244, 246);
  text-align: center;
  width: 40%;
  min-width: 300px;
  min-height: 600px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-img {
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin: 10px;
}
.links {
  margin: 10px;
}
.links a {
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  background: var(--primary-background);
  box-shadow: 0 3px 10px grey;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.links a:hover {
  box-shadow: 0 5px 10px grey;
  padding: 5px 22px 5px 22px;
}
